@import url("https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Josefin+Sans&family=Montserrat:wght@300;600&displ");

.experience {
  display: flex;
  flex-direction: column;
  border: 2px double white;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}
.experience > p{
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
