@import url("https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300;600&display=swap");

.skillContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 0;
}
.skillContainer_text {
  color: white;
  flex: 0.6;
  text-align: left;
  max-width: 500px;
  margin-bottom: 20px;
}
.skillContainer_text > h2{
    font-size: 30px;
}
.skillContainer_image{
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
}
.skillContainer_image > img{
  width: 600px;
  border-radius: 10px;
  object-fit: contain;
}
.skillContainer_skillSet > h5{
  font-family: "Montserrat",sans-serif;
  font-weight: 300;
  padding-bottom: 30px;
  padding-top: 10px;
}
.skillContainer_slider > .MuiLinearProgress-colorPrimary{
  background-color: white;
}
.skillContainer_slider1 > div > .MuiLinearProgress-barColorPrimary{
  background-color: rgb(177, 34, 8);
}
.skillContainer_slider2 > div > .MuiLinearProgress-barColorPrimary{
  background-color: rgb(12, 184, 12);
}
.skillContainer_slider3 > div > .MuiLinearProgress-barColorPrimary{
  background-color: rgb(25, 9, 168);
}
.skillContainer_slider4 > div > .MuiLinearProgress-barColorPrimary{
  background-color: rgb(196, 39, 188);
}
.skillContainer_slider5 > div > .MuiLinearProgress-barColorPrimary{
  background-color: rgb(14, 151, 175);
}
.skillContainer_slider6 > div > .MuiLinearProgress-barColorPrimary{
  background-color: rgb(227, 243, 5);
}
.skillContainer_slider7 > div > .MuiLinearProgress-barColorPrimary{
  background-color: rgb(226, 151, 38);
}



