a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 576px) {
  * {
    width: auto;
    height: auto;
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    box-sizing: border-box;
  }
}
